body
  background-color: #093A65
  color: white
  overflow-x: hidden

a
  color: white
  &:hover, &:focus
    color: white

.head-nav
  background-color: black
  height: 146px
  .row-head-nav
    position: relative
    .comment
      position: absolute
      top: 44px
      left: 322px
      .link-comment
        display: block
        font-size: 13px
        text-decoration: underline
        &::before
          display: block
          content: ''
          position: absolute
          top: 0
          left: -28px
          width: 19px
          height: 18px
          background-image: url('/images/comment-pic.png')

    .map
      position: absolute
      top: 44px
      left: 557px
      .link-map
        display: block
        font-size: 13px
        text-decoration: underline
        &::before
          display: block
          content: ''
          position: absolute
          top: -3px
          left: -25px
          width: 15px
          height: 21px
          background-image: url('/images/map-pic.png')

    .phone-block
      position: absolute
      top: 41px
      left: 730px
      .main-phone
        font-size: 17px
        letter-spacing: 0.03em
        margin-bottom: 11px
        .text
          display: inline
        span
          color: #FFCF00
          font-size: 18px
          font-weight: bold
      .dop-phone
        font-size: 17px
        text-align: right
    .logo-image
      margin-right: 11px
      padding-top: 34px
      float: left
      .logo-img-small
        display: none
    .logo-img-big
      width: 280px
    .logo-text
      width: 194px
      padding-top: 52px
      float: left
      font-family: Arial Black, san-serif
      font-size: 24px
      line-height: 23px
      text-transform: uppercase
    .nav-links
      padding-top: 80px
      ul
        margin: 0
        li
          list-style: none
          display: inline-block
          margin: 0 13px 0 5px
          a
            text-decoration: none

.title-block
  text-transform: uppercase
  font-family: Arial Black, serif
  font-weight: bold
  font-size: 30px
  line-height: 29px
.text-block
  font-size: 14px
  line-height: 22px
  a
    color: #FFCF00

.double-block
  display: table
  width: 100%
  min-height: 1500px
  background-image: url('/images/bg-image-1.png')
  background-position: center top
  background-repeat: no-repeat

  .first-row
    padding-top: 190px
    .carousel
      position: relative
      .yellow-line
        display: table
        position: absolute
        top: -109px
        left: 30px
        width: 20px
        height: 129px
        background-color: #FFCF00
        z-index: 1

      .yellow-line-block
        position: absolute
        top: -109px
        left: 60px
        width: 440px
        height: 129px
        background-color: #FFCF00
        z-index: 1
        color: black
        padding: 33px 36px
        text-transform: uppercase
        font-family: Arial Black, serif
        font-weight: bold
        font-size: 26px
        line-height: 29px

      .currency-block
        position: absolute
        top: -109px
        left: 510px
        width: 290px
        height: 129px
        z-index: 1
        color: white
        padding: 33px 36px
        .title
          font-family: Arial Black
          text-transform: uppercase
          margin-bottom: 10px


      .carousel-inner
        .item
          -webkit-border-radius: 8px
          -moz-border-radius: 8px
          border-radius: 8px
          background-size: cover
          background-position: center
          height: 500px
          .carousel-caption
            left: 0
            margin: 0
            width: 100%
            height: 80px
            background-color: rgba(0, 0, 0, 0.7)
            bottom: 0
            -webkit-border-radius: 0 0 8px 8px
            -moz-border-radius: 0 0 8px 8px
            border-radius: 0 0 8px 8px
            padding: 15px 0 0 40px
            li
              display: block
              width: auto
              height: auto
              float: left
              border: 0
              margin: 0 27px 0 0
              border-radius: 0
              text-indent: 0
              padding: 12px 0
              cursor: pointer
            .active
              background-color: transparent
              color: #ffcf00
          .caption-4
            li
              margin: 0 27px 0 15px
            .li-4
              width: 160px
              line-height: 15px
              text-align: left
              padding: 0
              padding-top: 10px
              margin-left: 27px
            .li-5
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              margin-right: 0
          .caption-5
            li
              margin: 0 27px 0 15px
            .li-3
              width: 160px
              line-height: 15px
              text-align: left
              padding: 0
              padding-top: 10px
              margin-left: 20px
            .li-4
              width: 160px
              line-height: 15px
              text-align: left
              margin-left: 10px
              padding: 0
            .li-5
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              margin-right: 0
          .caption-6
            li
              margin: 0 20px 0 0
            .li-2
              width: 160px
              line-height: 15px
              text-align: left
              padding: 0
              padding-top: 10px
              margin-left: 10px
            .li-3
              width: 160px
              line-height: 15px
              text-align: left
              margin-left: 5px
              padding: 0
            .li-4
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
            .li-5
              width: 180px
              line-height: 15px
              text-align: left
              padding: 0
              margin-right: 0
          .caption-7
            li
              margin: 0 20px 0 0
            .li-1
              width: 120px
              line-height: 15px
              text-align: left
              padding: 0
              margin-left: -10px
            .li-2
              width: 160px
              line-height: 15px
              text-align: left
              padding: 0
            .li-3
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
            .li-4
              width: 180px
              line-height: 15px
              text-align: left
              padding: 0
            .li-5
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              margin-right: 0
              padding-top: 15px
          .caption-8
            li
              margin: 0 20px 0 0
            .li-1
              width: 160px
              line-height: 15px
              text-align: left
              padding: 0
              margin-left: -10px
            .li-2
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
            .li-3
              width: 180px
              line-height: 15px
              text-align: left
              padding: 0
            .li-4
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              padding-top: 15px
            .li-5
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              margin-right: 0
          .caption-9
            li
              margin: 0 20px 0 0
            .li-1
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
            .li-2
              width: 180px
              line-height: 15px
              text-align: left
              padding: 0
            .li-3
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              padding-top: 15px
            .li-4
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              margin-right: 0
            .li-5
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              padding-top: 10px
              margin-right: 0
          .caption-10
            li
              margin: 0 20px 0 0
            .li-1
              width: 180px
              line-height: 15px
              text-align: left
              padding: 0
              margin-left: 10px
            .li-2
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              padding-top: 15px
            .li-3
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              margin-right: 0
            .li-4
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              padding-top: 10px
            .li-5
              width: 150px
              line-height: 15px
              padding: 0
              padding-top: 17px
              margin-right: 0
          .caption-11
            li
              margin: 0 20px 0 12px
            .li-1
              margin-left: 30px
            .li-2
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              margin-right: 0
            .li-3
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              padding-top: 10px
            .li-5
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              padding-left: 25px
              margin-right: 0
          .caption-12
            .li-1
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              margin-right: 0
              margin-left: 30px
            .li-2
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              padding-top: 10px
            .li-4
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              padding-left: 25px
            .li-5
              width: 150px
              line-height: 15px
              padding: 0
              padding-top: 15px
              margin-right: 0
          .caption-13
            .li-1
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              padding-top: 10px
              margin-left: 3px
            .li-3
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              padding-left: 25px
            .li-4
              width: 150px
              line-height: 15px
              padding: 0
              padding-top: 15px
              margin-right: 40px
            .li-5
              width: 180px
              line-height: 15px
              text-align: left
              padding: 0
              margin-right: 0
          .caption-14
            .li-1
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              padding-top: 10px
              margin-left: 3px
            .li-3
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              padding-left: 25px
            .li-4
              width: 150px
              line-height: 15px
              padding: 0
              padding-top: 15px
              margin-right: 40px
            .li-5
              width: 180px
              line-height: 15px
              text-align: left
              padding: 0
              margin-right: 0
          .caption-15
            .li-1
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              padding-top: 10px
              margin-left: 3px
            .li-3
              width: 150px
              line-height: 15px
              text-align: left
              padding: 0
              padding-left: 25px
            .li-4
              width: 150px
              line-height: 15px
              padding: 0
              padding-top: 15px
              margin-right: 40px
            .li-5
              width: 180px
              line-height: 15px
              text-align: left
              padding: 0
              margin-right: 0


      .slide-prev, .slide-next
        position: absolute
        top: 50%
        margin-top: -60px
        left: 0
        width: 35px
        height: 80px
        font-size: 20px
        color: #ffffff
        text-align: center
        background-color: black
        background-color: rgba(0, 0, 0, 0.5)
        &:hover, &:focus
          outline: none
          color: #ffffff
          text-decoration: none
          background-color: rgba(0, 0, 0, 1)
      .slide-next
        left: auto
        right: 0
      .tail-next, .tail-prev
        position: absolute
        top: 34px
        left: 15px
        width: 0
        height: 0
        border-width: 7px
        border-style: solid
      .tail-next
        border-color: transparent transparent transparent white
      .tail-prev
        left: 5px
        border-color: transparent white transparent transparent

  .second-row
    margin-left: -15px
    padding-top: 160px
    .title-block
      margin-bottom: 35px
    .text-block
      padding: 5px

  .third-row
    margin-left: -15px
    padding-top: 166px
    .title-block
      margin-bottom: 30px
    .text-block
      padding: 0

  .fourth-row
    margin-left: -15px
    padding-top: 59px
    .title-block
      margin-bottom: 35px
    .questions
      height: 150px

  .fifth-row
    margin-left: -15px
    .title-block
      margin-top: 18px
      margin-bottom: 30px
    .text-block
      span
        font-weight: bold
        color: #ffcf00

.big-yellow-block
  padding: 0
  padding-top: 227px
  .big-yellow-line
    position: relative
    height: 238px
    padding: 57px 0 0 53px
    background-color: #FFCF00
    -webkit-border-radius: 10px 0 0 10px
    -moz-border-radius: 10px 0 0 10px
    border-radius: 10px 0 0 10px
    .long-line
      top: 0
      left: 10px
      position: absolute
      width: 1000px
      height: 238px
      background-color: #FFCF00
    .text-block
      position: absolute
      color: black
      font-size: 152px
      font-family: Arial Black
      line-height: 86px
      font-weight: bold
      text-transform: uppercase
      z-index: 1
      span
        display: block
        margin-left: 8px
        font-size: 30px


.social-group
  position: absolute
  bottom: -50px
  right: -3px
  a
    float: left
    margin: 0 5px
  .img-vk
    background: url('/images/social.png') no-repeat -84px 0
    width: 20px
    height: 20px
  .img-fb
    background: url('/images/social.png') no-repeat 0 0
    width: 20px
    height: 20px
  .img-odn
    background: url('/images/social.png') no-repeat -63px 0
    width: 20px
    height: 20px


.footer-block
  display: table
  width: 100%
  height: 1180px
  background-image: url('/images/bg-image-2.png')
  background-position: center bottom
  background-repeat: no-repeat
  .sixth-row
    padding-top: 80px
    .quotes-block
      position: relative
      background-color: #FFCF00
      padding: 55px 50px
      font-size: 19px
      line-height: 25px
      color: #504517
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px
      &::before
        content: '“'
        position: absolute
        top: -37px
        left: 16px
        font-size: 70px
        font-style: italic
        font-weight: bold
        color: #FFCF00
      &::after
        content: '”'
        position: absolute
        bottom: -75px
        right: 34px
        font-size: 70px
        font-style: italic
        font-weight: bold
        color: #FFCF00
  .seven-row
    .col-sm-12, .col-md-12
      padding: 0
    .center-title-block
      width: 400px
      text-transform: uppercase
      font-size: 19px
      font-family: Arial Black
      font-weight: bold
      text-align: center
      margin: 70px auto 15px
    .small-title-block
      font-size: 16px
      font-weight: bold
      color: #FFCF00
      float: left
      margin-right: 30px
      margin-bottom: 35px
    .link-block
      float: left
      margin-bottom: 60px
      a
        color: white
        &:hover
          .text-block
            text-decoration: underline
      .image-block
        width: 180px
        margin-bottom: 14px
        text-align: center
      .text-block
        text-align: center


  .eighth-row
    width: 100%
    padding-top: 50px
    .title-block
      padding-top: 10px
      margin-left: -15px
      height: 50px
      border-right: 1px solid #3E82BE
    .phone-block
      padding-left: 47px
      .main
        font-size: 17px
        font-weight: bold
        margin-bottom: 5px
    .sm-md
      padding: 0
    .link-block
      position: relative
      padding-left: 30px
      .comment
        float: left
        margin-right: 46px
        .link-comment
          position: relative
          display: block
          font-size: 12px
          text-decoration: underline
          &::before
            display: block
            content: ''
            position: absolute
            top: 0
            left: -28px
            width: 19px
            height: 18px
            background-image: url('/images/comment-pic.png')

      .user
        float: left
        .link-user
          position: relative
          display: block
          font-size: 12px
          text-decoration: underline
          &::before
            display: block
            content: ''
            position: absolute
            top: -3px
            left: -25px
            width: 16px
            height: 20px
            background-image: url('/images/user-pic.png')

.google-map
  height: 450px
.google-alert
  position: relative
  .map-alert
    width: 400px
    position: absolute
    top: 320px
    right: 20px
    padding: 30px 40px
    background-color: black
    background-color: rgba(0, 0, 0, 0.6)
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px
    z-index: 5
    span
      font-weight: bold
      font-size: 15
      color: #FFCF00


.menu-fixed
  height: 125px
  background-color: rgba(0,0,0, 0.9)
  position: fixed
  top: -25px
  width: 100%
  left: 0
  right: 0
  z-index: 60
  margin: 0

.simple-modal
  width: 413px
  .modal-content
    position: relative
    padding: 28px 40px 20px 40px
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    background-color: #F3F3F3
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F3F3F3), color-stop(1, #DCE1E6))
    background-image: -o-linear-gradient(bottom, #F3F3F3 0%, #DCE1E6 100%)
    background-image: -moz-linear-gradient(bottom, #F3F3F3 0%, #DCE1E6 100%)
    background-image: -webkit-linear-gradient(bottom, #F3F3F3 0%, #DCE1E6 100%)
    background-image: -ms-linear-gradient(bottom, #F3F3F3 0%, #DCE1E6 100%)
    background-image: linear-gradient(to bottom, #F3F3F3 0%, #DCE1E6 100%)
    button
      position: absolute
      width: 40px
      right: 0
      top: 47px
      background-color: #FFBC00
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFBC00), color-stop(1, #FF9D00))
      background-image: -o-linear-gradient(bottom, #FFBC00 0%, #FF9D00 100%)
      background-image: -moz-linear-gradient(bottom, #FFBC00 0%, #FF9D00 100%)
      background-image: -webkit-linear-gradient(bottom, #FFBC00 0%, #FF9D00 100%)
      background-image: -ms-linear-gradient(bottom, #FFBC00 0%, #FF9D00 100%)
      background-image: linear-gradient(to bottom, #FFBC00 0%, #FF9D00 100%)
      -webkit-border-radius: 3px 0 0 3px
      -moz-border-radius: 3px 0 0 3px
      border-radius: 3px 0 0 3px
      opacity: 1
    .modal-header
      border-bottom: 0
      padding: 15px 29px
      .modal-title
        color: black
        width: 98%
        font-size: 19px
        font-weight: bold
    .modal-body
      padding: 3px 21px 0px 29px
      .form-group
        margin-bottom: 11px
        label
          color: black
          font-size: 13px
        input, textarea
          -webkit-border-radius: 6px
          -moz-border-radius: 6px
          border-radius: 6px
    .question-text
      display: table
      height: 350px
      color: black
    .modal-footer
      border-top: 0
      margin: 0 -60px
      .btn
        width: 100%
        background-color: #FFBC00
        border-radius: 0
        text-transform: uppercase
        color: black
        font-weight: bold

.message-modal
  width: 900px
  .modal-content
    position: relative
    padding: 28px 40px 20px 40px
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    background-color: #F3F3F3
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F3F3F3), color-stop(1, #DCE1E6))
    background-image: -o-linear-gradient(bottom, #F3F3F3 0%, #DCE1E6 100%)
    background-image: -moz-linear-gradient(bottom, #F3F3F3 0%, #DCE1E6 100%)
    background-image: -webkit-linear-gradient(bottom, #F3F3F3 0%, #DCE1E6 100%)
    background-image: -ms-linear-gradient(bottom, #F3F3F3 0%, #DCE1E6 100%)
    background-image: linear-gradient(to bottom, #F3F3F3 0%, #DCE1E6 100%)
    button
      position: absolute
      width: 40px
      right: 0
      top: 47px
      background-color: #FFBC00
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFBC00), color-stop(1, #FF9D00))
      background-image: -o-linear-gradient(bottom, #FFBC00 0%, #FF9D00 100%)
      background-image: -moz-linear-gradient(bottom, #FFBC00 0%, #FF9D00 100%)
      background-image: -webkit-linear-gradient(bottom, #FFBC00 0%, #FF9D00 100%)
      background-image: -ms-linear-gradient(bottom, #FFBC00 0%, #FF9D00 100%)
      background-image: linear-gradient(to bottom, #FFBC00 0%, #FF9D00 100%)
      -webkit-border-radius: 3px 0 0 3px
      -moz-border-radius: 3px 0 0 3px
      border-radius: 3px 0 0 3px
      opacity: 1
    .modal-header
      border-bottom: 0
      padding: 15px 29px
      .modal-title
        color: black
        width: 98%
        font-size: 19px
        font-weight: bold
    .modal-body
      padding: 3px 21px 0px 29px
      .name, .phonoemail, .title, .text
        position: relative
        label
          position: absolute
          top: 10px
          left: 10px
      .name
        input
          padding-left: 85px
      .phonoemail
        input
          padding-left: 155px
      .title
        input
          padding-left: 125px
      .text
        textarea
          padding-top: 28px
      .form-group
        margin-bottom: 11px
        label
          color: black
          font-size: 13px
        input, textarea
          -webkit-border-radius: 6px
          -moz-border-radius: 6px
          border-radius: 6px
        textarea
          height: 124px
    .modal-footer
      border-top: 0
      margin: 0 -60px
      .btn
        margin-top: 20px
        width: 100%
        background-color: #FFBC00
        border-radius: 0
        text-transform: uppercase
        color: black
        font-weight: bold

#wrapper
  width: 990px
  height: 350px

#carousel
  width: 990px
  height: 350px
  > div
    width: 990px
    height: 350px

#wrapper
  margin: -175px 0 0 -495px
  overflow: hidden
  position: absolute
  top: 50%
  left: 50%

#bg
  width: 990px
  height: 270px
  position: absolute
  z-index: 1
  top: 0
  left: 0
  border-radius: 10px

#carousel
  position: relative
  z-index: 2
  div
    position: relative
    float: left
    > *
      position: absolute

  .second, .third, .first
    width: 286px
    height: 78px
    background-color: #fff
    padding: 18px 28px
    color: black
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    top: 178px

  .first
    left: 45px

  .second
    left: 657px

  .third
    left: 354px



#prev, #next
  background-color: #fff
  display: block
  position: absolute
  width: 10px
  height: 10px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  top: 280px
  z-index: 10

#prev
  left: 50%
  margin-left: -12px

#next
  right: 50%
  margin-right: -12px
  background-color: #FFBC00

.alert-block
  position: relative
  .alert-message-true
    display: none
    position: absolute
    top: 20px
    right: 20px
    background-color: #FFBC00
    padding: 20px 30px
    width: 400px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 4px
    color: black
    z-index: 10


@media (min-width: 200px) and (max-width: 767px)
  .head-nav
    .row-head-nav
      .logo-img-small
        display: inline !important
      .logo-img-big
        display: none
  .big-yellow-block
    .big-yellow-line
      .long-line
        width: 1px


@media (min-width: 768px) and (max-width: 1279px)
  .head-nav
    .row-head-nav
      .comment
        left: 265px
      .map
        left: 461px
      .phone-block
        left: 590px
      .logo-text
        width: 140px
        font-size: 15px
      .logo-img-big
        width: 220px
      .nav-links
        ul
          li
            margin: 0 5px 0 5px
  .double-block
    .first-row
      .carousel
        .carousel-inner
          .item
            .carousel-caption
              li
                font-size: 11px
  .footer-block
    .seven-row
      .link-block
        .image-block
          width: 143px
          img
            width: 130px
  .big-yellow-block
    .big-yellow-line
      .long-line
        width: 422px
  .footer-block
    .seven-row
      .right-padding2
        .text-block
          text-align: right
          padding-right: 20px